@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3366ff;
  --text-color: white;
  --bg-color: rgb(54, 14, 54);
}

body {
  background: var(--bg-color);
}
